<label for="name">
	<f:translate key="tx_visitorsbook_domain_model_entry.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_visitorsbook_domain_model_entry.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="ip">
	<f:translate key="tx_visitorsbook_domain_model_entry.ip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ip" /><br />
<label for="entry">
	<f:translate key="tx_visitorsbook_domain_model_entry.entry" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="entry" cols="40" rows="15" /><br />
<label for="notification">
	<f:translate key="tx_visitorsbook_domain_model_entry.notification" />
</label><br />
	<f:form.checkbox property="notification" value="1" /><br />
<label for="approved">
	<f:translate key="tx_visitorsbook_domain_model_entry.approved" />
</label><br />
	<f:form.checkbox property="approved" value="1" /><br />
<label for="spam">
	<f:translate key="tx_visitorsbook_domain_model_entry.spam" />
</label><br />
	<f:form.checkbox property="spam" value="1" /><br />